.item {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 350px;
    outline: 2px dashed #ccc;
    padding: 10px;
}

.item:not(:last-child) {
    margin-bottom: 50px;
}

.info {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 20%;
    gap: 10px;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 10px;
}

.info img {
    border-radius: 5px;
}

.data {
    display: flex;
    justify-content: start;
    height: 80%;
    gap: 20px;
    padding-top: 10px;
}

.data p {
    text-wrap: pretty;
    overflow: hidden;
}

.data img {
    max-height: 100%;
    max-width: 300px;
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}