.header {
    background-image: url("https://placehold.co/1230x200.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}