.header {
    background-image: url("https://placehold.co/1230x200.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.info {
    width: calc(50% - 200px - 30px);
    padding: 10px 20px;
    font-size: 1.2rem;
}

.info li {
    list-style: none;
}

.username {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 30px;
}