.avatar {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.info {
    padding: 10px 20px;
    font-size: 1.2rem;
}

.info li {
    list-style: none;
}

.username {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 30px;
}