.item {
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.item p {
    font-size: 1.2rem;
    color: #333;
}

.avatar {
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}