* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-out;
}

#root {
    font-family: "Roboto", sans-serif;
    max-width: 1290px;
    margin: 0 auto;
    min-height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "navigation content"
        "footer footer";

    grid-template-rows: 250px 1fr 60px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    margin: 0 auto;
}

/* ----- SIDEBAR ----- */
aside {
    grid-area: aside;
    background-color: forestgreen;
}

/* ----- MAIN CONTENT ----- */
#content {
    grid-area: content;
    background-color: #e0fff6;
    padding: 20px;
}

/* ----- ADAPTIVE ----- */
@media (max-width: 768px) {
    .wrapper {
        grid-template-areas:
            "header"
            "navigation"
            "content"
            "footer";

        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
    }

    header {
        flex-direction: column;
        gap: 10px;
    }

    nav {
        text-align: center;
    }
}